:root {
    --size: 100px;
}
body{
    background-color:greenyellow;
}

.ball_1, .ball_2 {
    width:var(--size);
    height:var(--size);
    margin:20px;
    border-radius: 50%;
    background-color: green;
    visibility: hidden;
}

.ball_1 {
    transform: translateX(90vh);
}